/* Fonts */
@import url("http://fonts.cdnfonts.com/css/book-antiqua");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
/* CSS Variables */
:root {
  --black: #000;
  --white: #fff;
  --lightbrown: #BBA484;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.whole-container {
  position: relative;
}
.whole-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./Images/bg.svg);
  filter: blur(1.5px);
  z-index: -10;
  filter: grayscale(100%);
}

/* Nav bar */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: var(--black);
  justify-content: center;
  z-index: 20;
}

.nav-logo {
  width: 120px;
  padding: 25px 0;
}

.logo {
  width: 7rem;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(142deg)
    brightness(105%) contrast(100%);
}

.toggle-container {
  position: fixed;
  top: 40px;
  left: 40px;
  margin-right: 1.5em;
  align-items: center;
  transition: transform 200ms;
}

.toggle-container i {
  color: #ffffff;
  font-size: 2em;
}
/* Hover for toggle container, needed for 'resized screens' that are non-mobile */
.toggle-container i:hover {
  color: var(--lightbrown);
  cursor: pointer;
}
.toggle-container i:active {
  color: var(--lightbrown);
}
.nav-bar {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -10;
  transition: transform 1s;
}

.nav-bar li {
  list-style-type: none;
  text-align: left;
  /* If padding is 2em the last link ('Menu') will never be visible on mobile screen */
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.nav-bar li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav-bar-btn {
  list-style-type: none;
  text-align: center;
  padding: 1em;
  color: #fff;
  cursor: pointer;
}

.nav-bar-btn a:active {
  color: var(--lightbrown);
}

.nav-bar-btn a:focus {
  text-decoration: none;
  background-color: inherit;
}

.hidden {
  position: fixed;
  top: 91px;
  left: 0;
  transform: translateX(-32rem);
  transition: transform 0.5s;
  z-index: 10;
}

.show {
  transform: translateX(0px);
  position: fixed;
  top: 91px;
  left: 0;
  z-index: 20;
}

.martini {
  display: none;
}

.toggle-container i:hover {
  color: var(--lightbrown);
}

.toggle-container i:active {
  color: var(--lightbrown);
}

.nav-bar li:hover {
  transform: scale(1.07);
}

/* Nav bar end*/

/* Desktop Nav */

.desktop-nav {
  align-items: center;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em 1.24em;
}

.desktop-nav-logo {
  height: 100%;
  width: 150px;
}

.nav-links-desktop {
  /* padding between last nav link and social icons */
  padding-right: 24px;
}

.nav-links-desktop a {
  color: var(--white);
  font-family: Book Antiqua, serif;
  font-size: 1rem;
  padding: 0 16px;
  text-decoration: none;
  transition: border .3s linear;
}

.nav-links-desktop a:hover {
  border: 1px solid var(--lightbrown);
}

.nav-links-and-icons {
  /* div for nav links and social icons divs */
  align-items: center;
  display: flex;
}

.social-icons a {
  color: var(--white);
  font-size: 1.5rem;
  transition: color .3s linear;
}

.social-icons a:hover {
  color: var(--lightbrown);
}

/* Desktop Header */
.desktop-header {
  display: none;
}

/* Desktop Nav end */

/* Content */

.filter-options {
  display: flex;
  justify-content: space-around;
}

.filter-btn {
  font-family: "Book Antiqua", serif;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  padding: 0.6em;
  font-size: 0.85em;
  transition: transform 200ms;
  cursor: pointer;
  font-family: "Book Antiqua", sans-serif;
}

.selected {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: all 500ms ease;
}

.menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.menu-img-container img {
  width: 100%;
  height: 18rem;
  border-bottom: 3px solid #fff;
}

.category-text {
  background-color: rgba(187, 164, 132, 0.9);
  border: solid 1px #000;
  padding: 0.3em;
  margin: 30px 20px 0px 20px;
  text-align: center;
  color: #000;
  font-size: 1.7rem;
  font-family: "Book Antiqua", sans-serif;
}

.item-info {
  background-color: #bba484;
  margin: 30px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.division {
  margin: 14px auto;
  width: 80%;
  border: solid 2px #bba484;
}

.item-title {
  padding: 1px 17px;
  color: #000;
  font-size: 2rem;
  font-family: "Book Antiqua", sans-serif;
  margin-top: 5px;
}

.item-description {
  padding: 1px 17px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.item-price {
  padding: 10px 17px;
  font-size: 1.3rem;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.food-sections {
  margin: 1em 0px 0px 1em;
  width: fit-content;
  color: #000;
  background-color: rgba(187, 164, 132, 0.9);
  border: solid 1px #000;
  padding: 4px;
}

.bebidas-section {
  background-color: rgba(187, 164, 132, 1);
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 1.2em;
}

.bebidas-container {
  display: block;
}

.bebidas-item {
  padding: 10px;
  border-bottom: 1px solid #6b4a30;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bebidas-section-title {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.first {
  margin-top: 0.2em;
}

.bebidas-price {
  margin-right: 0px;
  margin-left: auto;
  margin-top: 0.7em;
}

.bebidas-title {
  font-weight: bold;
  margin-bottom: 0.7em;
}

.reco {
  width: 70%;
}

.to-top-btn {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border: solid 2px #6b4a30;
  border-radius: 50%;
  transition: transform 400ms;
  cursor: pointer;
}

.to-top-btn:hover {
  transform: scale(1.1);
}

.to-top-btn i {
  font-size: 1.2em;
  color: #6b4a30;
}

.show-to-top {
  transform: translateX(0px);
}

.hide-to-top {
  transform: translateX(200px);
}

/* Footer */

footer {
  background-color: #000;
  margin-top: 3em;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 10rem;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(142deg)
    brightness(105%) contrast(100%);
}

.footer-info p {
  padding: 1em;
  color: #fff;
  font-size: 1.2em;
}

.social-media {
  color: #fff;
  padding: 1em;
}

.social-media h2 {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer .social-icons i {
  cursor: pointer;
  font-size: 2em;
  margin: 1em;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
}

.social-icons a:active {
  color: #fff;
}

/* Media queries for tablet version */

@media (min-width: 600px) {
  .carnes-section,
  .panne-cooks-section,
  .pasta-section,
  .cervezas-section,
  .cocteles-autor-section,
  .cocteles-clasicos-section,
  .postres-section,
  .entradas-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-rows: auto;
  }
  .item-info {
    margin: 20px;
  }

  .filter-btn {
    font-size: 1.3em;
    padding: 10px;
  }

  .toggle-container {
    left: 40px;
  }

  .food-sections {
    width: fit-content;
  }

  .bebidas-item {
    width: 90%;
  }

  .bebidas-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Media queries for desktop version */

@media (min-width: 1025px) {
  .whole-container {
    padding: 3em;
  }

  .footer-info {
    margin-left: 3em;
  }

  .hidden {
    position: fixed;
    z-index: 10;
    background-color: transparent;
    top: 0px;
    left: 18em;
    height: fit-content;
    transform: translateY(0px);
    z-index: 20;
    width: 80%;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 4em;
  }

  .logo {
    position: static;
  }

  .header {
    display: none;
  }

  .desktop-header {
    display: inherit;
  }

  .nav-bar {
    padding: 0;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .topnav {
    display: flex;
  }

  .toggle-container {
    display: none;
  }

  .filter-btn {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .carnes-section,
  .panne-cooks-section,
  .pasta-section,
  .cervezas-section,
  .cocteles-autor-section,
  .cocteles-clasicos-section,
  .postres-section,
  .entradas-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-rows: auto;
  }

  .filter-btn:hover {
    transform: scale(1.05);
  }

  .nav-bar-btn {
    font-size: 1.25em;
  }

  .home-btn {
    transition: transform 200ms;
  }

  .category-text {
    font-size: 2.2em;
    border: solid 1px #000;
  }

  .food-sections {
    font-size: 2em;
    border: solid 1px #000;
  }

  .logo {
    width: 8rem;
  }

  .to-top-btn {
    width: 80px;
    height: 80px;
  }

  .to-top-btn i {
    font-size: 2em;
  }
}

@media (min-width: 1400px) {
  .whole-container {
    padding: 6em 10em;
  }

  .filter-btn {
    margin-top: 0px;
  }
  .filter-options {
    margin-top: 2.5em;
  }
}
